/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color:rgb(200, 205, 245,0.3);
  /* background: repeating-linear-gradient( #8F1FC4, #8F1FC4 1.37%,#5F048A, #5F048A 98.48%); */
  
} 



body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
}

.app {
  width: 400px;
  margin: 0 auto;
  height: 100vh;
}




.form > button {
  /* padding: 20px; */
  border: none;
  font-family: karla;
  /* background-color:linear-gradient(#8F1FC4 1.37%); */
  background: repeating-linear-gradient( #8F1FC4, #8F1FC4 1.37%, #5F048A, #5F048A 98.48%);

  font-weight: 700;
  font-size: 18px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-left: -10px;
  width: 200px;
  height: 48px;
  border-radius: 10px;
  padding-top: -200px;
}



.plc ::placeholder{
  font-family: karla;
  font-size: 16px;
  font-weight: 400;
}

.pa{
  font-family: karla;
  font-weight: 700;
  font-size: 20px;
}

.ra{
  margin-top: 24px;
  font-family: karla;
  font-weight: 400;
  font-size: 20px;
  background-color:rgb(200, 205, 245,0.3);
  /* background: repeating-linear-gradient( #8F1FC4, #8F1FC4 1.37%, #5F048A, #5F048A 98.48%); */
  /* background: linear-gradient(90deg, rgba(143, 31, 196,1), rgba(45,4,138,1)); */

  /* margin-left: 30px; */
  /* width: 332px; */
  /* height: 36px; */
  /* background: repeating-linear-gradient( #8F1FC4, #8F1FC4 0%, #5F048A, #5F048A 100%); */


}
 .camps{
  width:172px;
  height: 36px;
  /* margin-top: 30px; */
  margin-left: 30px;
  font-family: karla;
  font-weight: 400;
  font-size: 28px;
  margin-top: -25px;
  
} 

.ras{

  margin-top: 24px;
  font-family: karla;
  font-weight: 400;
  font-size: 20px;
  margin-left: 60px;

}

.plc{
  margin-left: -15px;
  /* border-radius: 10px; */
}

.area{
  border-radius: 10px;
}