body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(143, 100%, 93%);
}

body,html{
  height: 100%;
  background-color: #E5E5E5;
  font-family: 'Karla', sans- serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:active,
input:focus {
    outline-width: 0;
}

textarea:active,
textarea:focus{
  outline-width: 0;
}
